.SignupPage{
    background-image: linear-gradient(to right,#E8F2F7,#1989f9);
    width:100vw;
    height:fit-content;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.SignupContain{
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width:200px;
    height:100px;
    margin: 4px 0;
}

.SignupForm{
    border-radius:67px;
    background:rgba(255,255,255,0.85);
    width:fit-content;
    height:fit-content;
    padding:1.5rem 4rem;
    margin-bottom:20px;
}

.SignFormContainer{
    display:flex;
    justify-content:space-around;
}

.SignFormContainerLeft{
    display:flex;
    flex-direction:column;
    justify-content: left;
    margin-top:15px;
    margin-right:6rem;
}

.SignWelcome{
    color:black;
    font-family:Roboto;
    font-size:40px;
    font-style:normal;
    font-weight: bold;
    margin-bottom:0;
}

.SignQuotation{
    color:#A8B6BE;
    font-family:Roboto;
    font-size:18px;
    font-style:normal;
    font-weight:500;
    line-height:normal;
    margin-bottom:25px;
}

.SignhtmlForm-group{
    display:flex;
    flex-direction:column;
}

.SigninputLabel{
    font-weight:bold;
    margin-bottom:5px;
}

.Signinput{
    /* width:320px; */
    margin-bottom:15px;
    border-radius:5px;
    border:1px solid #A8B6BE;
    padding:8px;
}

.SignupFormButton{
    width:200px;
    height:45px;
    flex-shrink:0;
    border-radius:37px;
    border:1px solid #A8B6BE;
    background:#7ABBFA;
    color:white;
    margin-top:20px;
}

.SignupFormButton:hover{
    color:black;
    background:white;
    border:2px solid #7ABBFA;
}

.SignButtonGroup{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top:60px;
}

.SignNoAccount{
    color:#747575;
    font-family:Roboto;
    font-size:20px;
    font-style:normal;
    font-weight:500;
    line-height:normal;
    margin-right:15px;
}

.SignupFormLogin{
    text-decoration:none;
    border:2px solid #7ABBFA;
    border-radius:10px;
    padding:8px 15px;
    color:#7ABBFA;
    font-size:14px;
    font-weight:500;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.SignupFormLogin:hover{
    background:#7ABBFA;
    color:white !important;
}

.LoginFormSign:hover{
    color:#7ABBFA;
}

.SignImage{
    width:300px;
    height:300px;
    margin-top: 20px;
}



@media only screen and (max-width: 650px) {
    .SignupForm{
        border-radius:2rem;
        margin-left:1rem;
        margin-right:1rem;
    }
    .SignFormContainer{
        flex-direction:column;
    }
    .SignImage{
        display:none;
    }
    .SignButtonGroup{
        margin-top:20px;
    }
    .SignFormContainerLeft{
        margin-right:0;
    }
}